<div class="px-5">
  <ul class="flex flex-wrap border-b border-gray-200">
    <li class="mr-2" *ngFor="let menu of service.adminMenu$ | async">
      <a
        [routerLink]="[menu.link]"
        aria-current="page"
        class="
          inline-block
          bg-gray-100
          text-blue-600
          rounded-t-lg
          py-4
          px-4
          text-sm
          font-medium
          text-center
          active
        "
        >{{ menu.text }}</a
      >
    </li>
    <li>
      <a
        class="
          inline-block
          text-gray-400
          rounded-t-lg
          py-4
          px-4
          text-sm
          font-medium
          text-center
          cursor-not-allowed
        "
        >Disabled</a
      >
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
