<div class="w-full h-full bg-blue-300 text-app-base">
  <!-- Header -->
  <div class="flex flex-row gap-x-1 relative">
    <div class="absolute left-0">
      <div class="p-2">
        <app-user-avatar></app-user-avatar>
      </div>
    </div>
    <div class="absolute right-0">
      <div>completions</div>
      <div>hours</div>
    </div>
  </div>
  <!-- Body -->
  <div class="relative top-12">
    <div>
      <div>Your Subjects</div>
    </div>
    <hr />
    <div>
      <div>Your Languages</div>
    </div>
    <hr />
    <div>
      <div>Your Playlists</div>
      <div class="flex flex-row">
        <div class="p-4">col 1</div>
        <div class="p-4">col 2</div>
        <div class="p-4">col 3</div>
      </div>
    </div>
  </div>
</div>
