<div class="flex items-center justify-center w-full pr-4">
  <label for="toogle" class="flex items-center cursor-pointer">
    <!-- toggle -->
    <div class="relative">
      <!-- input -->
      <input
        id="toogle"
        type="checkbox"
        class="sr-only"
        (click)="switch()"
        [checked]="toggle"
      />
      <!-- line -->
      <div
        class="w-10 h-4 bg-app-secondary rounded-full shadow-inner"
        [ngClass]="bg_color"
      ></div>
      <!-- dot -->
      <div
        class="
          dot
          absolute
          w-6
          h-6
          bg-white
          rounded-full
          shadow
          -left-1
          -top-1
          transition
        "
        [ngClass]="text_color"
      ></div>
    </div>
  </label>
</div>
